* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fff;
    color: black;
    font-size: 16px;
    background-image: url(./images/lbg39.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 1rem;
    margin-bottom: 30px;
}

.service-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.service-box {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    transition: transform 0.3s ease;
}
.service-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #FF5678;
}

.service-box p {
    font-size: 1rem;
    color: #bbb;
}

@media (max-width: 768px) {
    .service-grid {
        flex-direction: column;
        gap: 20px;
    }
    
    .service-box {
        width: 100%;
    }
}